* {
    box-sizing: border-box;
 }

 body {
    display: flex;
    align-items: center;
  }

 #start-button {
    cursor: pointer;
    background-color: #1899D6;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    border-radius: 16px;
    height: 50px;
    width: 300px;
    padding: 13px 16px;
    text-align: center;
    margin: auto;
 }

 #start-button:hover{
    transform: scale(1.1);
 }
.container {
    margin: 20px auto;
    width: 650px;
    height: 650px;
    display: grid;
    gap: 1px;
}
.square {
    border: 1px solid black;
    display: block;
}